body {
    font-family: 'PT Sans', sans-serif;
}

.jumbotron {
    background-image: url("../images/background.jpg");
    background-size: 50% 156%;
    color: white;
    text-align: center;
    height: 245px;
    font-family: 'Oswald', sans-serif;
    border-bottom: 6px solid #d30f40;
    margin-bottom: 0;
}

.heading {
    border-radius: 10px;
    width: 235px;
    height: 245px;
    margin-top: -67px;
    padding: 10px;
    color: rgb(230, 207, 207);
    margin: auto;
    margin-top: -70px;
}

.main-content {
    background-image: url(../images/court-background.jpg);
}

.lower-content {
    display: flex;
    justify-content: space-between;
}

.display-4 {
    line-height: 1;
    text-shadow: 1px 1px #ff0000;
}

.game-badges {
    display: flex;
    flex-direction: column;
    width: 10%;
    width: 575px;
    height: 360px;
    font-size: 1.75em;
    padding-left: 65px;
    padding-top: 30px;
}

.lead {
    color: #d30f40;
    font-weight: 200em;
    margin-top: 6px;
    font-size: .95em;
}

.badge-danger {
    height: 50px;    
    vertical-align: center;
}

.answer-section {
    display: flex;
    background-image: url(../images/small-net.png);
    background-size: 30px;
    height: 100px;
    text-align: center;
}

#guesses-left {
    padding: .5em .4em;
    background-color: #272525;
    border: 2px solid #bdadad;
    margin-top: 15px;
    width: 50px;
    height: 40px;
    font-size: 1em;
    color: white;
    padding-bottom: 30px;
}

#blank-answer {    
    text-align: center;
    font-size: 2em;
    background-color: #272525;
    border: 2px solid #bdadad;
    width: 425px;
    margin: auto;
    height: 50px;
    color: white;
    padding-top: 4px;
}   

.my-badge {
    background-color: #272525;
    border: 2px solid #bdadad;
    height: 100px;
    width: 200px;
}

#mobile-input-badge {
    display: none;
}

#mobile-input {
    width:30%;
    margin-top: 15px;
}

#sixer-pics {
    margin-right: 135px;
    padding-top: 3px;
}

@media screen and (max-width: 640px) {
    .heading {
        margin-top: -40px;
    }

    .jumbotron {
        background-size: 50% 110%;      
    }

    .display-4 {
        font-size: 2.43em;
    }

    .lead {
        font-size: .72em;
    }

    .lower-content {
        flex-direction: column;
    }

    .image {
        width: 150%;
        height:150%;
    }

    #mobile-input-badge {
        display: block;
    }
}
